<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
  <test thread-count="5" name="Login Order Test">
    <classes>
      <class name="onlineShopping.Tests.LoginOrderTest"/>
      
    </classes>
    </test>
    
    <test thread-count="5" name="Error Validation Test">
    <classes>
    <class name="onlineShopping.Tests.ErrorValidationTest"/>
    </classes>
    </test>
    
    <test thread-count="5" name="Ecommerce Test">
    <classes>
    <class name="onlineShopping.Tests.EcommerceTest"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
